body {
  background: #d5e1ef;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 320px;
  height: 497px;
  text-align: center;
  margin: 152px 560px;
  font-family: "Outfit";
}

.main__image {
  width: 288px;
  height: 288px;
  justify-items: center;
  border-radius: 40px;
  padding: 16px 16px 26px 16px;
}

.main__title {
  color: #1f314f;
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  line-height: 1.5;
  width: 80%;
}

.main__paragraph {
  font-size: 15px;
  color: #7d889e;
  font-weight: 400;
  max-width: 248px;
  max-height: 49px;
  line-height: 1.5;
  padding: 16px;
}

.attribution {
  display: flex;
  font-size: 11px;
  text-align: center;
  justify-content: center;
  align-items: end;
}
.footer__anchor {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 376px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 10px;
    text-align: center;
    font-family: "Outfit";
    margin: 85px 28px;
    width: 320px;
    height: 497px;
  }
}
